<p>Standard</p>
{{super-number id="standard"}}

<p>Min</p>
{{super-number id="min" min=1}}

<p>Max</p>
{{super-number id="max" max=1}}

<p>Step</p>
{{super-number id="step" step=5}}

<p>Precision</p>
{{super-number id="precision" precision=3}}

<p>Scale</p>
{{super-number id="scale" scale=2}}

<p>Loop</p>
{{super-number id="loop" loop=true min=1 max=9}}

<p>Max hold</p>
{{super-number id="max-hold" max=3}}
