<p>Standard</p>
{{super-number id="standard"}}

<p>Min</p>
{{super-number id="min" min=1}}

<p>Max</p>
{{super-number id="max" max=1}}

<p>Step</p>
{{super-number id="step" step=5}}

<p>Precision</p>
{{super-number id="precision" precision=3}}

<p>Scale</p>
{{super-number id="scale" scale=2 }}
